#about {
  .about_story .about_inner {
    max-width: 1240px;
    position: relative;
    height: 100%;
  }

  .about_story .about_pinA {
    height: 100vh;
    overflow: hidden;
  }

  .about_story .about_bg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 500px;
    z-index: -3;
    border-radius: 20px;
    overflow: hidden;
  }

  .about_story .about_bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about_story .about_bg2 {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -2;
  }

  .about_story .about_bg2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 200px;
  }

  .about_story .about_images {
    width: 100%;
    height: 320%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
  }

  .about_story .about_images > img {
    position: absolute;
    max-width: 300px;
  }

  .about_story .about_images > img:nth-child(1) {
    top: 0;
    right: 40%;
    @media (max-width: 480px) {
      right: 12%;
    }
  }

  .about_story .about_images > img:nth-child(2) {
    top: 26%;
    left: 10%;
  }
  .about_story .about_images > img:nth-child(3) {
    top: 37%;
    right: 13%;
    @media (max-width: 480px) {
      scale: 0.9;
      top: 50%;
      right: 43%;
    }
  }
  .about_story .about_images > img:nth-child(4) {
    right: 30%;
    top: 50%;
    @media (max-width: 480px) {
      top: 50%;
      right: 6%;
    }
  }
  .about_story .about_images > img:nth-child(5) {
    top: 60%;
    left: 10%;
  }
  .about_images > img:nth-child(6) {
    left: 65%;
    top: 70%;
    @media (max-width: 480px) {
      top: 80%;
      left: 3%;
    }
  }
  .about_images > img:nth-child(7) {
    left: 57%;
    top: 80%;
  }
  .about_images > img:nth-child(8) {
    left: 40%;
    top: 100%;
  }
  .about_images > img:nth-child(9) {
    left: 40%;
    top: 100%;
  }
  .about_images > img:nth-child(10) {
    left: 40%;
    top: 100%;
  }
  .about_images > img:nth-child(11) {
    left: 40%;
    top: 100%;
  }
  .about_images > img:nth-child(12) {
    left: 40%;
    top: 100%;
  }
  .about_images > img:nth-child(13) {
    left: 40%;
    top: 100%;
  }
  .about_images > img:nth-child(14) {
    left: 40%;
    top: 100%;
  }

  .about_story .about_typo {
    font-family: "Cormorant";
    font-size: 60px;
    line-height: 1;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(0%);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 500px;
  }

  // .about_typo .typo01 {}
  // .about_typo .typo02 {}

  .about_pin-spacer {
    display: block;
    margin: 0px;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
    width: 100%;
    height: 8766px;
    padding: 0px 0px 7700px;
  }

  .about_pinA {
    position: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .rolling {
    font-family: "Cormorant";
    position: absolute;
    width: 100%;
    height: 80vh;
    left: 0;
    top: 0;
  }

  .rolling .tex {
    font-family: "Cormorant";
    position: absolute;
    left: 50%;
    top: 40%;
    max-width: 600px;
    opacity: 0;
    font-size: 24px;
    line-height: 1.6;
    padding-left: 30px;
    transform: translateX(-50%);
  }

  .rolling .tex h3 {
    font-family: "Cormorant";
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
  }

  .rolling .tex strong {
    font-weight: 700;
    font-family: "Cormorant";
  }

  .rolling .tex sub {
    font-size: 0.8em;
    font-family: "Cormorant";
  }

  .rolling .tex p {
    margin-top: 20px;
    font-family: "Cormorant";
  }

  .rolling .tex:after {
    content: "";
    width: 13px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    background: url("/images/main/bullet.png") no-repeat center center / cover;
    position: absolute;
    left: 0;
    top: 10px;
  }

  .rolling .tex .box {
    background: #fff;
    color: #a6a6a6;
    font-size: 16px;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
  }

  #wrap {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-color: lightskyblue;
  }
  .wrap-box {
    display: flex;
    width: 120%;
    overflow: hidden;
    background-color: tomato;
    transform: translate(-60px) rotate(-10deg);
  }
  .wrap-box:nth-child(2) {
    background-color: antiquewhite;
  }
  .rolling-list {
    display: flex;
    flex-shrink: 0;
  }
  .list {
    margin: 0 6px;
    font-size: 200px;
    color: transparent;
    -webkit-text-stroke: #246dae 2px;
  }
}
